Python 3.8.8
beautifulsoup4 4.10.0
fake-useragent 0.1.11
lxml 4.8.0
requests 2.27.1
selenium 4.2.0
pandas 1.4.3
numpy 1.23.1
matplotlib 3.5.2
seaborn 0.11.2
sklearn 1.1.1
missingno 0.5.1
customtkinter 5.1.2
catboost 1.2
ipywidgets 8.0.6